{{ 'sign-up-section.css' | asset_url | stylesheet_tag }}
<div class="email-section">
 <div class="email-section-content">
 {%- for block in section.blocks -%}
  {%- case block.type -%}
      {%- when 'heading' -%}
        <h2 class="email-content-heading">{{block.settings.form-heading}}</h2>
      {%- when 'sub-heading' -%}
        <p class="email-content-subtext">{{block.settings.form-subheading}}</p>
 </div>
      {%- when 'email-form' -%}
      {%- form 'customer', class: 'signup-form' -%}
      <input type="hidden" name="contact[tags]" value="newsletter">
      <input type="email" id="email" name="contact[email]" value="{{ form.email }}" aria-required="true"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          {% if form.errors %}
            autofocus
            aria-invalid="true"
            aria-describedby="Newsletter-error--{{ section.id }}"
          {% elsif form.posted_successfully? %}
            aria-describedby="Newsletter-success--{{ section.id }}"
          {% endif %}
            placeholder="{{ 'newsletter.label' | t }}"
            required>
      <button type="submit" name="sub" id="subscribe">Join Now</button>
      {%- if form.posted_successfully? -%}
        <h3
           class="newsletter-form__message newsletter-form__message--success form__message"
           id="Newsletter-success--{{ section.id }}"
           tabindex="-1"
           autofocus style="color:white;"
         >
            {% render 'icon-success' -%}
            {{- 'newsletter.success' | t }}
        </h3>
    {%- endif -%}
    {% endform %}
  {%- endcase -%}
 {%- endfor -%}
</div>
{% schema %}
{
  "name":"email-sign-up",
  "blocks":[
  {
    "type":"heading",
    "name":"sign-up-heading",
    "limit":1,
    "settings":[
        {
          "type":"text",
          "id":"form-heading",
          "label":"Add text"
        }
    ]
    },
    {
      "type":"sub-heading",
      "name":"sign-up-subheading",
      "limit":1,
      "settings":[
        {
          "type":"text",
          "id":"form-subheading",
          "label":"Add text"
        }
      ]
    },
    {
      "type":"email-form",
      "name":"sign-up-email",
      "limit":1
    }
    ],
    "presets":[
      {
          "name":"email-sign-up"
      }
    ]
}
{% endschema %}